body {
    margin: 0;
     padding: 0;
     background-color: #f4f4f0;
     color: #1a1a1a;
     font-family: 'Inter', Helvetics, sans-serif;
     overflow: hidden;
}
#ui-layer {
    position: absolute;
    top: 30px; left: 40px;
    z-index: 10;
    user-select: none;
}
#scoreEl {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    color: #1a1a1a;
}
#healthEl {
    margin: 5px 0 0 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #00853E;
    text-transform: uppercase;
    letter-spacing: 2px;
}
canvas {
    display: block;
}
