body {
    margin: 0;
     padding: 0;
     background-color: #f97316;
     color: #1E3A8A;
     font-family: 'Cinzel', sans-serif;
     overflow: hidden;
}
#ui-layer {
    position: absolute;
    top: 30px; width: 100%;
    text-align: center;
    z-index: 10;
    user-select: none;
    pointer-events: none;
}
#scoreEl {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
}
#healthEl {
    margin: 5px 0 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #166534;
}
canvas {
    display: block;
}
